SUPABASE_URL=https://boexjtaembwyqvzipxbr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvZXhqdGFlbWJ3eXF2emlweGJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM0MDQ1ODcsImV4cCI6MjA1ODk4MDU4N30.kb7V_yCkByOIM7BFboboUQv8iaGC-4QF89PpvXwKbgc
NEXTAUTH_URL=https://oasis.matinz03.tech
AUTH_SECRET=92f6bfa82bb2b45155f948a31362e6e1
